body {
  cursor: none !important;
}
@keyframes rotate {
  from {
    background-position: 0% center;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    background-position: -200% center;
  }
}

#fake-cursor,
#fake-cursor2,
#fake-cursor3 {
  z-index: 100;
  @apply hidden md:grid fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none transition-all;
}

#blur {
  backdrop-filter: blur(8vmax);
  z-index: -3;
  @apply hidden md:grid w-screen h-screen fixed top-0 left-0;
}

#blob {
  height: 5vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(to right, #536eff, #4e31ff, #536eff);
  background-size: 200%;
  overflow: hidden;
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -5;

  @apply hidden md:grid fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none;
}
