@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 20rem;
  /* cursor: none !important; */
}

a {
  cursor: pointer;
}

/* @font-face {
  font-family: "PIXELADE";
  src: url("/fonts/pixelade/PIXELADE.TTF") format("truetype"),
    url("/fonts/pixelade/PIXELADE.woff2") format("woff2"),
    url("/fonts/pixelade/PIXELADE.woff") format("woff");
  font-weight: 300;
  font-style: normal;
} */

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
  transition: scroll-behavior 1s ease-in-out;
}

/* Selections  */

::-moz-selection {
  /* Code for Firefox */
  @apply text-secondary bg-ring;
}

::selection {
  @apply text-secondary bg-ring;
}

/* scrollbar width */
::-webkit-scrollbar {
  @apply w-0;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--muted);
  @apply rounded-full;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  @apply bg-popover;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

/* body */

.screen-height-with-header {
  @apply pt-[90px];
}

.hide-on-mobile {
  @apply !hidden sm:!flex;
}

.center-in-screen {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.center-in-parent {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.ellipsis-on-1line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-on-2line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Links */

/* a {
  @apply underline hover:opacity-75;
} */

/* main */

.soundwaves {
  @apply h-3 flex justify-center items-center gap-[2px];
}

.soundwaves div {
  @apply w-[2px] h-full rounded-full;
}

.soundwaves.active div {
  transition: all 0.7s ease-in-out; /* Smooth transition */
  animation: wavesHeight 1.5s alternate infinite; /* 1s duration and 'forwards' keeps the final state */
}

.soundwaves div {
  @apply bg-primary;
}

.soundwaves.white div {
  @apply bg-secondary;
}

.soundwaves.active div:nth-child(4) {
  animation-delay: 250ms;
}

.soundwaves.active div:nth-child(2) {
  animation-delay: 750ms;
}

.soundwaves.active div:nth-child(4) {
  animation-delay: 750ms;
}

@keyframes wavesHeight {
  0% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}

@keyframes discRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.discRotation {
  animation: discRotation 20s infinite linear;
}

.main_shadow {
  @apply bg-secondary;
  box-shadow: 0px 1px 9px 0px rgba(4, 5, 6, 0.15),
    0px 3px 7.8px 0px rgba(253, 254, 254, 0.25) inset,
    0px 5px 12.8px 0px rgba(182, 184, 195, 0.5) inset;
}

.icon_clothes {
  @apply bg-card/20 rounded-full flex justify-center items-center p-[6px];
}

.disc_shadow {
  box-shadow: 0px 1px 16.8px 0px rgba(4, 5, 6, 0.4),
    0px 0px 75px 0px rgba(4, 5, 6, 0.5),
    0px 5px 12.8px 0px rgba(182, 184, 195, 0.25) inset;
}

.AudioCard {
  background: var(--card);
  box-shadow: 0px 0px 6.2px 0px rgba(4, 5, 6, 0.3),
    0px -4px 5.8px 0px rgba(158, 159, 172, 0.25) inset,
    0px 3px 6.3px 0px rgba(182, 184, 195, 0.3) inset;
}

.player_shadow {
  box-shadow: 0px 1px 13px 0px rgba(4, 5, 6, 0.15),
    0px 5px 12.8px 0px rgba(182, 184, 195, 0.5) inset;
}

.animation-state-pause {
  animation-play-state: paused;
}

.collectionDisks {
  width: fit-content;
}

.drop-shadow-on-disk {
  filter: drop-shadow(4px 0px 6.7px rgba(0, 0, 0, 0.5));
}

.collectionDisks div:nth-child(1) {
  @apply right-0 z-[5] drop-shadow-2xl;
}

.collectionDisks div:nth-child(2) {
  @apply right-12 z-[4];
}

.collectionDisks div:nth-child(3) {
  @apply right-24 z-[3];
}

.collectionDisks div:nth-child(4) {
  @apply right-48 z-[2];
}

/* Chadcn */

/* red FF1A4B */

@layer base {
  :root {
    /* chadcn */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
/* 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
