#tiles-grid {
  display: grid;
  grid-template-columns: repeat(35, calc(60px / 2));
  grid-template-rows: repeat(35, calc(60px / 2));
}

#tiles-grid-container {
  display: grid;
  grid-template-columns: repeat(16, calc(60px / 2));
  grid-template-rows: repeat(35, calc(60px / 2));
}

@media (min-width: 768px) {
  #tiles-grid {
    grid-template-columns: repeat(35, calc(50px / 2));
    grid-template-rows: repeat(35, calc(50px / 2));
  }

  #tiles-grid-container {
    grid-template-columns: repeat(32, calc(50px / 2));
    grid-template-rows: repeat(22, calc(50px / 2));
  }
}

@media (min-width: 1024px) {
  #tiles-grid {
    grid-template-columns: repeat(35, calc(75px / 2));
    grid-template-rows: repeat(35, calc(75px / 2));
  }

  #tiles-grid-container {
    grid-template-columns: repeat(27, calc(75px / 2));
    grid-template-rows: repeat(16, calc(75px / 2));
  }
}

@media (min-width: 1280px) {
  #tiles-grid {
    grid-template-columns: repeat(35, calc(50px));
    grid-template-rows: repeat(35, calc(50px));
  }

  #tiles-grid-container {
    grid-template-columns: repeat(27, calc(50px));
    grid-template-rows: repeat(16, calc(50px));
  }
}

.col-span-13 {
  grid-column: span 13 / span 13;
}

.col-span-14 {
  grid-column: span 14 / span 14;
}

.col-span-17 {
  grid-column: span 17 / span 17;
}

.col-span-16 {
  grid-column: span 16 / span 16;
}

.col-span-27 {
  grid-column: span 27 / span 27;
}

.col-span-28 {
  grid-column: span 28 / span 28;
}

.row-span-7 {
  grid-row: span 7 / span 7;
}

.row-span-8 {
  grid-row: span 8 / span 8;
}

.row-span-9 {
  grid-row: span 9 / span 9;
}

.row-span-11 {
  grid-row: span 11 / span 11;
}

.row-span-16 {
  grid-row: span 16 / span 16;
}

.hero-card-shadow {
  box-shadow: 0px 23px 21px 0px rgba(0, 0, 0, 0.25);
}

.Spline-hero {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20rem;
  aspect-ratio: 1 / 1;
  transform: translate(calc(-67% + var(--x)), calc(-110% + var(--y)))
    skewX(315deg) skewY(25deg) scaleX(2) scale(0.3) rotate(var(--rotate))
    translateZ(0);
}

/*  */

.rotated-hero {
  position: fixed;
  opacity: 1;
  transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
    skewX(-48deg) skewY(14deg) scaleX(2) scale(0.5) rotate(var(--rotate))
    translateZ(0);
  --rotate: 0deg;
  --x: -25px;
  --y: 50px;
  top: 50%;
  left: 45%;
  transition: opacity 300ms ease 0s;
  will-change: transform;
}

@media (min-width: 508px) {
  .rotated-hero {
    position: fixed;
    opacity: 1;
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
      skewX(-48deg) skewY(14deg) scaleX(2) scale(0.7) rotate(var(--rotate))
      translateZ(0);
    --rotate: 0deg;
    --x: 10px;
    --y: 50px;
    top: 50%;
    left: 50%;
    transition: opacity 300ms ease 0s;
    will-change: transform;
  }
}

@media (min-width: 768px) {
  .rotated-hero {
    position: fixed;
    opacity: 1;
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
      skewX(-48deg) skewY(14deg) scaleX(2) scale(0.7) rotate(var(--rotate))
      translateZ(0);
    --rotate: 0deg;
    --x: 10px;
    --y: 50px;
    top: 55%;
    left: 50%;
    transition: opacity 300ms ease 0s;
    will-change: transform;
  }
}
