.AudioSeekBar .rangeSlider {
  height: 5px;
  -webkit-appearance: none;
  width: 42px;
  background-color: var(--primary);
  @apply rounded-full;
}

.AudioSeekBar {
  @apply w-full;
}

.time_slider:hover .rangeSlider {
  @apply transition-all duration-500 w-full delay-200;
}

/* progress-value */

.AudioSeekBar input[type="range"]::-webkit-progress-value {
  height: 100%;
  @apply bg-secondary;
}
.AudioSeekBar input[type="range"]::-moz-range-progress {
  height: 100%;
  @apply bg-secondary;
}
.AudioSeekBar input[type="range"]::-ms-range-progress {
  height: 100%;
  @apply bg-secondary;
}
.AudioSeekBar input[type="range"]::-ms-fill-lower {
  height: 100%;
  @apply bg-secondary;
}

/* Disc */

.Disc {
  @apply transition-all duration-700 fixed sm:absolute left-1/2 -translate-x-1/2  -top-36  sm:w-full w-[120%] aspect-square rounded-full bg-secondary z-10 overflow-hidden;

  box-shadow: 0px 1px 16.8px 0px rgba(4, 5, 6, 0.4),
    0px 0px 75px 0px rgba(4, 5, 6, 0.5),
    0px 5px 12.8px 0px rgba(182, 184, 195, 0.25) inset;
}

@media (min-width: 640px) {
  .Disc:hover {
    @apply left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 h-full rounded-none overflow-hidden;
  }

  .Disc:hover .Disk_img img {
    @apply scale-[1.15];
  }

  .Disc:hover .disc_info {
    @apply opacity-100;
  }

  .Disc:hover::after {
    @apply opacity-50;
  }

  .Disc:hover .Middle_Disc {
    @apply opacity-0;
  }
}

.Disc::after {
  content: "";
  @apply absolute top-0 left-0 h-full w-full opacity-0 transition-all duration-300 bg-secondary z-[-1];
}

/* AudioList */

/* SearchAudioForm */

.SearchAudioForm:hover input {
  @apply w-full px-3 border py-1;
}

.SearchAudioForm input:user-valid {
  @apply w-full px-3 border py-1;
}
